<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                New Product
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input matInput type="text" formControlName="id" placeholder="ID">
                    </mat-form-field>
                </div>  
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input matInput type="text" formControlName="title" placeholder="title">
                    </mat-form-field>
                </div>  
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input matInput type="number" formControlName="price" placeholder="price">
                    </mat-form-field>
                    <div *ngIf="priceFild?.errors && form.get('price')?.dirty">
                        <p *ngIf="priceFild?.hasError('required')"> This field is riquired</p>
                        <p *ngIf="priceFild?.hasError('price_invalid')"> Price should be less than 10000</p>
                    </div>
                 </div>  
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <textarea matInput formControlName="description" placeholder="description">
                        </textarea>
                    </mat-form-field>
                </div>  
            </div>
            <div class="row">
                <div class="col-xs">
                        <img *ngIf="(image$|async) as image" [src]="image" alt="">
                        <input type="file" (change)="uploadFile($event)">
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button [disabled]="form.invalid" type="submit">Save</button>
        </mat-card-actions>

    </mat-card>

</form>
